<table class='table table-hover'>
  <tbody>
    <% books.each do |book| %>
      <tr>
        <td><b><%= link_to book.display_title, (current_user ? book : stacks_book_path(book)) %></b></td>
        <td><%= author_list_links(book) %></td>
      </tr>
    <% end %>
  </tbody>
</table>