<div id='scanner'>
  <h2>Scan a barcode</h2>

  <div class="controls">
      <fieldset class="input-group">
          <button class="stop">Cancel scanning</button>
      </fieldset>
      <fieldset class="reader-config-group">
          <label>
              <span>Camera&nbsp;resolution</span>
              <select name="input-stream_constraints">
                  <option selected="selected" value="800x600">800x600 px</option>
                  <option value="1280x720">1280x720 px</option>
                  <option value="1600x960">1600x960 px</option>
                  <option value="1920x1080">1920x1080 px</option>
              </select>
          </label>
      </fieldset>
  </div>
  <div id="interactive" class="viewport"></div>
</div>

<div id='book-form'>
  <%= form_for(@book) do |f| %>
    <div class="actions">
      <%= f.label :isbn13, 'ISBN:' %><%= f.text_field :isbn13 %>
      <%= f.submit "Look up ISBN and add" %>
    </div>
  <% end %>
</div>
